# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Phase10-Nest.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Amkam\Desktop\Star Academy\Winter99Co-Op-AmirMahdi-Kousheshi\Phase10-Nest\.idea\.idea.Phase10-Nest.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
